:root {
   /*Backgrounds*/
   --Desaturated-blue-bg: hsl(222, 26%, 31%);
   --Desaturated-blue-toggle: hsl(223, 31%, 20%);
   --Desaturated-blue-screen: hsl(224, 36%, 15%);

   /* Keys */
   --Desaturated-blue-key: hsl(225, 21%, 49%);
   --Desaturated-blue-shadow: hsl(224, 28%, 35%);

   --Red-key: hsl(6, 63%, 50%);
   --Dark-red-shadow: hsl(6, 70%, 34%);

   --Grayish-orange-bg: hsl(30, 25%, 89%);
   --Grayish-orange-shadow: hsl(28, 16%, 65%);

   /* Text */
   --Grayish-blue-text: hsl(221, 14%, 31%);
   --White-text: hsl(0, 0%, 100%);
}

body.theme1 {
   background: var(--Desaturated-blue-bg);
}

body.theme1 main {
   display: grid;
   height: 100vh;
   place-content: center;
}

body.theme1 .calculator-main {
   /* box-shadow: 0 0 10px var(--White-text); */
   background: var(--Desaturated-blue-bg);
   padding: 1rem;
}

body.theme1 .theme-menu {
   color: var(--White-text);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

body.theme1 .theme-controls {
   display: flex;
   gap: 1rem;
   align-items: center;
}

body.theme1 .theme-controls .theme-switcher-container {
   background: var(--Desaturated-blue-toggle);
   padding: 5px;
   border-radius: 5rem;
   width: 70px;
}

body.theme1 .theme-controls .theme-numbers {
   display: flex;
   justify-content: space-between;
   padding: 0 0.5rem;
}

body.theme1 .theme-switcher-container .theme__switcher-thumb {
   background: var(--Red-key);
   width: 15px;
   height: 15px;
   border-radius: 100%;
}

body.theme1 .display {
   background: var(--Desaturated-blue-screen);
   display: flex;
   padding: 1.5rem 1rem;
   border-radius: .6rem;
   margin: 1rem 0;
}

body.theme1 .display input {
   font-size: 2rem;
   color: var(--White-text);
   text-align: right;
   width: 100%;
   font-weight: 700;
}

body.theme1 .numpad {
   display: grid;
   gap: 1.2rem;
   background-color: var(--Desaturated-blue-toggle);
   grid-template-columns: repeat(4, 1fr);
   padding: 2rem;
   border-radius: .6rem;
   font-weight: 700;
   text-align: center;
}

body.theme1 .number-btn {
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: .8rem 1.5rem;
   border-radius: .6rem;
   background: var(--Grayish-orange-bg);
   color: var(--Grayish-blue-text);
   box-shadow: 0 3px 0 var(--Grayish-orange-shadow);
}

body.theme1 .number-btn[data-type="action"] {
   text-transform: uppercase;
   font-size: 1.5rem;
}


body.theme1 .number-btn:is(.btn--del,
   .btn--reset) {
   background: var(--Desaturated-blue-key);
   color: var(--White-text);
   box-shadow: 0 3px 0 var(--Desaturated-blue-shadow);
}

body.theme1 .btn--reset {
   grid-column: 1 / 3;
}

body.theme1 .btn--result {
   background: var(--Red-key);
   color: var(--White-text);
   grid-column: 3 / 5;
   box-shadow: 0 3px 0 var(--Dark-red-shadow);
}