@use 'reset';
@use './themes/theme1';
@use './themes/theme2';
@use './themes/theme3';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
   font-family: 'League Spartan', sans-serif;
   transition: background .3s;
}

body {
   min-height: 630px;
}

main {
   display: grid;
   height: 100vh;
   min-height: 630px;
   place-content: center;
}

.calculator-main {
   max-width: 490px;
   padding: 1rem;
}

.theme-menu {
   display: flex;
   justify-content: space-between;
   align-items: center;

   h1 {
      font-size: 1.5rem;
   }
}

.theme-controls {
   position: relative;
   display: flex;
   gap: 1rem;
   align-items: flex-end;
   text-transform: uppercase;
   font-size: .9rem;

   span:nth-child(1) {
      margin-bottom: .32rem;
   }

   .theme-switcher-container {
      padding: 5px;
      border-radius: 5rem;
      width: 70px;

      .switch-theme-label {
         display: none;
      }

      #hidden-range {
         position: absolute;
         width: 60px;
         cursor: pointer;
         opacity: 0;
      }

      .theme__switcher-thumb {
         width: 15px;
         height: 15px;
         border-radius: 100%;
         transition: .3s;
         pointer-events: none;
      }
   }

   .theme-numbers {
      display: flex;
      justify-content: space-between;
      padding: 0 0.5rem;
   }
}

.display {
   display: flex;
   padding: 1.5rem 1rem;
   border-radius: .6rem;
   margin: 1rem 0;

   .display-label {
      display: none;
   }
}

.display input {
   font-size: 2rem;
   text-align: right;
   width: 100%;
   font-weight: 700;
}

.numpad {
   display: grid;
   gap: 1.2rem;
   grid-template-columns: repeat(4, 1fr);
   padding: 2rem;
   border-radius: .6rem;
   font-weight: 700;
   text-align: center;
}

.number-btn {
   font-size: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: .8rem 1.5rem;
   border-radius: .6rem;
   cursor: pointer;
   user-select: none;
   transition: .3s;
}

.number-btn:hover {
   transform: translateY(2%);
}

.number-btn[data-type="action"] {
   text-transform: uppercase;
   font-size: 1.5rem;
}

.btn--reset {
   grid-column: 1 / 3;
}

.btn--result {
   grid-column: 3 / 5;
}

.attribution {
   font-size: 11px;
   padding: 10px;
   position: absolute;
   bottom: 0;
   width: 100%;
   text-align: center;

   a {
      color: hsl(228, 45%, 44%);
   }
}

@media (max-width: 700px) {
   :root {
      font-size: 14px;
   }

   main {
      height: 100svh;
   }

   .calculator-main {
      margin: 0 auto;
      padding: 0;
   }

   .numpad {
      grid-template-columns: repeat(4, auto);
   }
}