*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   -webkit-tap-highlight-color: transparent;
}

img,
svg {
   display: block;
   max-width: 100%;
}

:is(button, input, :focus) {
   border: 0;
   outline: 0;
   background: none;
}